<link rel="stylesheet" type="text/css" href="stylesheets/sp_login.scss">

<div class="sp_login_link">
  <%= link_to "トップページに戻る", top_items_path %>
</div>

<div class="sp_login">
  <h3>ログイン</h3>

  <div class="sp_login_info">
   <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="sp_login_email">
      <%= f.label :"メールアドレス:" %>&ensp;
      <%= f.email_field :email, autofocus: true, autocomplete: "email", :id => "sp_email_field" %>
    </div>

    <div class="sp_login_password">
      <%= f.label :"パスワード:" %>&ensp;
      <%= f.password_field :password, autocomplete: "current-password", :id => "sp_password_field" %>
    </div>

    <div class="sp_check">
      <% if devise_mapping.rememberable? %>
        <%= f.check_box :remember_me, :id => "sp_check_box" %>&ensp;
        <%= f.label :次回から入力を省略する %>
      <% end %>
    </div>

    <div class="sp_login_action">
    <button type="button" onclick="submit();" id="sp_action_button">ログイン</button>
    </div>
   <% end %>

   <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
    <%= link_to "パスワードを忘れた場合", new_password_path(resource_name) %><br />
   <% end %>
  </div>
</div>