<link rel="stylesheet" type="text/css" href="stylesheets/sp_mypage.scss">

<div class="sp_mypage_link">
  <%= link_to "トップページ", :controller => "items", :action => "top" %>
  <%= link_to "投稿一覧", items_path %>
  <%= link_to 'Food一覧', {:controller => "items", :action => "food"}, method: :post %>
  <%= link_to 'Life一覧', {:controller => "items", :action => "life"}, method: :post %>
  <%= link_to 'Fashion一覧', {:controller => "items", :action => "fashion"}, method: :post %>
  <%= link_to 'Toy一覧', {:controller => "items", :action => "toy"}, method: :post %>
  <%= link_to 'Character一覧', {:controller => "items", :action => "character"}, method: :post %>
  <%= link_to 'Others一覧', {:controller => "items", :action => "others"}, method: :post %>
</div>

<div class="sp_mypage">
  <h3>ユーザーマイページ</h3>
  <div class="sp_user_info">
    <div id="sp_user_info_flame">
      <p>名前 : <%= @user.user_name %></p>
      <p>メールアドレス : <%= @user.email %></p>
    </div>
  </div>
  
  <div class="sp_user_mypage">
   <div class="sp_user_action">
    <div class="sp_user_item">
     <h3>ユーザーの投稿一覧</h3>
     <div id="sp_user_item_all">
      <% @user.items.each do |t| %>
       <li>
        <%= t.name %>
        <%= t.price %>円&nbsp;
        <%= link_to '詳細', item_path(t.id) %>&nbsp;

        <% if user_signed_in? && current_user.id == t.user_id %>
          <!-- 編集 -->
          <%= link_to edit_item_path(t.id) do %>
            <i class="fas fa-pen sp_user_color"></i>
          <% end %>&nbsp;

          <!-- 削除 -->
          <%= link_to item_path(t.id), method: :delete do %>
            <i class="far fa-trash-alt sp_user_color"></i>
          <% end %>
        <% end %>
       </li><br>
      <% end %>
     </div>
    </div>

    <div class="sp_user_like">
     <h3>ユーザーがいいねした投稿一覧</h3>
     <div id="sp_user_like_all">
      <% @user.liked_items.each do |t| %>
       <li>
        <%= t.name %>
        <%= t.price %>円&nbsp;
        <%= link_to '詳細', item_path(t.id) %>&nbsp;

        <div class="sp_like">
         <% if user_signed_in? %>
          <!-- いいね -->
          <% if current_user.already_liked?(t) %>
            <%= link_to item_like_path(id: t.id, item_id: t.id), method: :delete do %>
              <i class="fas fa-heart sp_user_color"></i>&thinsp;<%= t.likes.count %>
            <% end %>
          <% else %>
            <%= link_to item_likes_path(id: t.id, item_id: t.id), method: :post do %>
              <i class="far fa-heart sp_user_color"></i>&thinsp;<%= t.likes.count %>
            <% end %>
          <% end %>
         <% else %>
          <i class="far fa-heart sp_user_color"></i>&thinsp;<%= t.likes.count %>
         <% end %>
        </div>
       </li>
      <% end %>
     </div>
    </div>
   </div>
  </div>

  <div class="sp_mypage_user_edit">
    <% if user_signed_in? && current_user.id == @user.id %>
      <%= link_to "アカウントの編集", edit_user_registration_path(@user.id) %><br>
      <%= link_to "アカウントの削除", user_path(@user.id), data: { confirm: "本当によろしいですか？" }, method: :delete %>
    <% end %>
  </div>
 </div>
</div>