<!-- localhost:3000/items -->
<link rel="stylesheet" type="text/css" href="stylesheets/index.scss">

<div class="index_whole">
<main class="index_main">
  <h3>投稿一覧</h3>
  <div class="item_whole">
    <% @items.each do |t| %>
      <div class="item_container">
        <div class="item_top">
          <p><%= link_to item_path(t.id) do %><%= t.name %><% end %></p>
          <p><%= t.price %>円</p>
        </div>
        <div class="item_bottom">
          <div class="leftside">
            <p><%= simple_format(t.about) %></p>

            <span class="iconarea">
              <!-- いいね -->
              <% if user_signed_in? %>
                <% if current_user.already_liked?(t) %>
                  <%= link_to item_like_path(id: t.id, item_id: t.id), method: :delete do %>
                    <i class="fas fa-heart like"></i>&thinsp;<%= t.likes.count %>
                  <% end %>
                <% else %>
                  <%= link_to item_likes_path(id: t.id, item_id: t.id), method: :post do %>
                    <i class="far fa-heart like"></i>&thinsp;<%= t.likes.count %>
                  <% end %>
                <% end %>
              <% else %>
                <i class="far fa-heart like"></i>&thinsp;<%= t.likes.count %>
              <% end %>&emsp;

              <!-- 編集 -->
              <% if user_signed_in? && current_user.id == t.user_id %>
                <%= link_to edit_item_path(t.id) do %>
                  <i class="fas fa-pen icon"></i>
                <% end %>
              <% end %>&ensp;

              <!-- 削除 -->
              <% if user_signed_in? && current_user.id == t.user_id %>
                <%= link_to item_path(t.id), data: { confirm: "本当によろしいですか？" }, method: :delete do %>
                  <i class="far fa-trash-alt icon"></i>
                <% end %>
              <% end %>
            </span>

            <span class="dataarea">
              <p><a href="/users/<%= t.user.id %>"><%= t.user.user_name %></a></p>
              <p><%= t.created_at %></p>
            </span>
          </div>

          <div class="index_image">
            <%= image_tag t.image_url if t.image? %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</main>

<nav class="index_link">
  <ul>
    <li><% if user_signed_in? %>
      <%= link_to "マイページ", user_path(current_user.id) %>
    <% end %></li>
    <li><%= link_to 'トップページ', :controller => "items", :action => "top" %></li>
    <li><%= link_to '新規投稿', :controller => "items", :action => "new" %></li>
  </ul>
</nav>
</div>