<!-- localhost:3000/items -->
<link rel="stylesheet" type="text/css" href="stylesheets/index.scss">

<div class="link">
  <% if user_signed_in? %>
  <%= link_to "マイページ", user_path(current_user.id) %>
  <% end %>&ensp;
  <%= link_to 'トップページ', :controller => "items", :action => "top" %>&ensp;
  <%= link_to '新規投稿', :controller => "items", :action => "new" %>
</div>

<div class="index">
 <h3>投稿一覧</h3>
 <div class="items">
  <% @items.each do |t| %>
   <div class="items-container">
    <div class="index_item">
      <p><%= t.name %></p><br>
      <%= t.price %>円<br>
      <%= link_to '詳細', item_path(t.id) %><br>

      <!-- いいね -->
      <div class="like">
      <% if user_signed_in? %>
      <% if current_user.already_liked?(t) %>
          <%= link_to item_like_path(id: t.id, item_id: t.id), method: :delete do %>
            <i class="fas fa-heart color"></i>&thinsp;<%= t.likes.count %>
          <% end %>
      <% else %>
          <%= link_to item_likes_path(id: t.id, item_id: t.id), method: :post do %>
            <i class="far fa-heart color"></i>&thinsp;<%= t.likes.count %>
          <% end %>
      <% end %>
      <% else %>
        <i class="far fa-heart color"></i>&thinsp;<%= t.likes.count %>
      <% end %>
     </div>
    </div>

    <div class="index_image">
      <%= image_tag t.image_url if t.image? %>
    </div>

    <div class="index_user">
     <div id="index_icon">
      <!-- 編集 -->
      <% if user_signed_in? && current_user.id == t.user_id %>
        <%= link_to edit_item_path(t.id) do %>
          <i class="fas fa-pen color"></i>
        <% end %>
      <% end %>&ensp;

      <!-- 削除 -->
      <% if user_signed_in? && current_user.id == t.user_id %>
        <%= link_to item_path(t.id), data: { confirm: "本当によろしいですか？" }, method: :delete do %>
          <i class="far fa-trash-alt color"></i>
        <% end %>
      <% end %>
     </div><br>

      <a href="/users/<%= t.user.id %>"><%= t.user.user_name %></a><br>
      <%= t.user.email %><br>
      <%= t.created_at %>
    </div>
   </div>
  <% end %>
  </div>
</div>