<link rel="stylesheet" type="text/css" href="stylesheets/sp_category.scss">

<div class="sp_category_link">
  <%= link_to "トップページに戻る", :controller => "items", :action => "top" %>
</div>

<div class="sp_category">
 <h3>Life</h3>
 <div class="sp_category_items">
  <% @items.each do |t| %>
   <% if t.category == "life" %>
   <div class="sp_items-container">
   <p><%= t.name %></p>
   <div class="sp_category_info">
    <div id="sp_category_text">
     <div class="sp_category_item">
      <%= t.price %>円
      <%= link_to '詳細', item_path(t.id) %>

      <!-- いいね -->
      <div class="sp_like">
       <% if user_signed_in? %>
        <% if current_user.already_liked?(t) %>
          <%= link_to item_like_path(id: t.id, item_id: t.id), method: :delete do %>
            <i class="fas fa-heart sp_color"></i>&thinsp;<%= t.likes.count %>
          <% end %>
        <% else %>
          <%= link_to item_likes_path(id: t.id, item_id: t.id), method: :post do %>
            <i class="far fa-heart sp_color"></i>&thinsp;<%= t.likes.count %>
          <% end %>
        <% end %>
       <% else %>
        <i class="far fa-heart sp_color"></i>&thinsp;<%= t.likes.count %>
       <% end %>
      </div>
     </div>

     <div class="sp_category_user">
       <div id="sp_category_icon">
         <!-- 編集 -->
         <% if user_signed_in? && current_user.id == t.user_id %>
           <%= link_to edit_item_path(t.id) do %>
             <i class="fas fa-pen sp_color"></i>
           <% end %>
         <% end %>&ensp;

         <!-- 削除 -->
         <% if user_signed_in? && current_user.id == t.user_id %>
           <%= link_to item_path(t.id), data: { confirm: "本当によろしいですか？" }, method: :delete do %>
             <i class="far fa-trash-alt sp_color"></i>
           <% end %>
         <% end %>
       </div>

       <a href="/users/<%= t.user.id %>"><%= t.user.user_name %></a>
       <%= t.user.email %><br>
       <%= t.created_at %>
     </div>
    </div>

    <div class="sp_category_image">
      <%= image_tag t.image_url if t.image? %>
    </div>
  </div>
 </div>
<% end %>
<% end %>
</div>
</div>