<link rel="stylesheet" type="text/css" href="stylesheets/new.scss">

<div class="new_whole">
<main class="new_main">
  <h3>新規投稿</h3>

  <div class="new_item">
    <%= form_for @item do |f| %>
      <span class="new_name">
        <p><%= f.label :"商品名:" %></p>&emsp;
        <p><%= f.text_field :name, :maxlength => "15", placeholder: " (15字以内)" %></p>
      </span>
      <span class="new_about">
        <p><%= f.label :"内容:" %></p>&emsp;
        <%= f.text_area :about %>
      </span>
      <span class="new_price">
        <p><%= f.label :"値段:" %></p>&emsp;
        <%= f.text_field :price, :size => 10 %>円
      </span>

      <span class="new_image">
        <p><%= f.label :"画像:" %></p>&emsp;
        <label id="image_file">ファイルを選択する<%= f.file_field :image %></label>
      </span>

      <span class="new_category">
        <p><%= f.label :"カテゴリー:" %></p>&emsp;
        <%= f.select :category, [["Food", "food"], ["Life", "life"], ["Fashion", "fashion"], ["Toy", "toy"], ["Character", "character"], ["Others", "others"]], include_blank: "カテゴリーの選択" %>
      </span>
  
      <span class="new_action">
        <button type="button" onclick="submit();" id="new_button">投稿する</button>
      </span>
    <% end %>
  </div>
</main>

<nav class="new_link">
  <ul>
    <li><%= link_to "トップページ", :controller => "items", :action => "top" %></li>
    <li><%= link_to "投稿一覧", items_path %></li>
  </ul>
</nav>
</div>