<link rel="stylesheet" type="text/css" href="stylesheets/sp_top.scss">

<div class="sp_link">
  <% if user_signed_in? %>
   <%= link_to "マイページ", user_path(current_user.id) %>
  <% end %>&ensp;
  <%= link_to '新規投稿', new_item_path %>&ensp;
  <%= link_to '投稿一覧', items_path %>
</div>

<div class="sp_explain">
  <p>このサイトは、東京ディズニーランド・<br>東京ディズニーシーで販売されている商品の定価が<br>一目でわかるサイトです。</p>
</div>

<div class="sp_top">
 <div class="sp_top_search">
  <h3>投稿を検索</h3>
  <div id="sp_top_search_bar">
    <%= form_tag({controller:"items",action:"index"}, method: :get) do %>
      <%= text_field_tag :search %>
      <%= button_tag :type => "submit" do %>
        <i class="fas fa-search sp_size"></i>
      <% end %>
    <% end %>
  </div>
 </div>

  <div class="sp_top_category">
    <h3>カテゴリーから投稿を探す</h3>
   <div class="sp_category_name">
    <%= button_to 'Food', {:controller => "items", :action => "food"}, {id: "sp_category_button"} %>&ensp;
    食品・お菓子
   </div>
   <div class="sp_category_name">
    <%= button_to 'Life', {:controller => "items", :action => "life"}, {id: "sp_category_button"} %>&ensp;
    生活用品・インテリア・<br>文具
   </div>
   <div class="sp_category_name">
    <%= button_to 'Fashion', {:controller => "items", :action => "fashion"}, {id: "sp_category_button"} %>&ensp;
    カチューシャ・衣服・<br>アクセサリー
   </div>
   <div class="sp_category_name">
    <%= button_to 'Toy', {:controller => "items", :action => "toy"}, {id: "sp_category_button"} %>&ensp;
    おもちゃ
   </div>
   <div class="sp_category_name">
    <%= button_to 'Character', {:controller => "items", :action => "character"}, {id: "sp_category_button"} %>&ensp;
    ぬいぐるみ・<br>キャラクターグッズ
   </div>
   <div class="sp_category_name">
    <%= button_to 'Others', {:controller => "items", :action => "others"}, {id: "sp_category_button"} %>&ensp;
    その他
   </div>
  </div>
</div>