<link rel="stylesheet" type="text/css" href="stylesheets/sp_signup.scss">

<div class="sp_signup_link">
  <%= link_to "トップページに戻る", top_items_path %>
</div>

<div class="sp_signup">
  <h3>新規登録</h3>

  <div class="sp_user_new">
   <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "users/shared/error_messages", resource: resource %>

    <div class="sp_user_new_name">
      <%= f.label :"名前:" %>&ensp;
      <%= f.text_field :user_name, autofocus: true, :id => "sp_name_field" %>
    </div><br>

    <br>

    <div class="sp_user_new_email">
      <%= f.label :"メールアドレス:" %>&ensp;
      <%= f.email_field :email, autofocus: true, autocomplete: "email", :id => "sp_email_field" %>
    </div><br>

    <br>

    <div class="sp_user_new_password">
     <div id="new_password_text">
      <%= f.label :"パスワード" %>
      <% if @minimum_password_length %>
        (<%= @minimum_password_length %> 文字以上):&ensp;
      <% end %>
     </div>
      <%= f.password_field :password, autocomplete: "new-password", :id => "sp_password_field" %>
    </div><br>

    <br>

    <div class="sp_user_new_conpass">
      <%= f.label :"パスワード_(確認):" %>&ensp;
      <%= f.password_field :password_confirmation, autocomplete: "new-password", :id => "sp_password_field" %>
    </div>

    <div class="sp_user_new_action">
      <button type="button" onclick="submit();" id="sp_action_button">新規登録</button>
    </div>
   <% end %>
  </div>
</div>